<div class="layout-wrapper">

    <div class="side-bar">
        <div class="header">
            <div class="avatar-wrapper">
                <p-avatar 
                image="img/felipe.jpg" 
                styleClass="mr-2" 
                size="xlarge" 
                shape="circle" />
            </div>
            
            <div class="avatar-title-wrapper">
                <div class="name-wrapper">
                    <span>Felipe Goyes</span>
                </div>
                <span class="study">Software Engineer</span>
            </div>
        </div>

        <div class="content">
            <p-menu [model]="expirenceItems" />
        </div>

        <div class="footer">
            <p-menu [model]="contactItems" />
        </div>

    </div>

    <router-outlet></router-outlet>

</div>






