.layout-wrapper{
    display: flex;
    height: 98vh;
}

.side-bar{
    padding-right: 8px;
}

.avatar-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    cursor: pointer;
}

.avatar-title-wrapper{
    text-align: center;
    font-weight: bold;
    padding: 15px;
}

.study {
    font-size: 13px;
    font-weight: 400;
}


.main-content{
    background-color: #d3d3d391;
    padding: 1rem;
}
