<div class="layout-wrapper">

    <div class="side-bar flex flex-column justify-content-between">
        <div class="header col">
            <div class="avatar-wrapper" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
                <p-avatar 
                image="img/felipe.jpg" 
                styleClass="mr-2" 
                size="xlarge"
                shape="circle" />
            </div>
            
            <div class="avatar-title-wrapper">
                <div class="name-wrapper">
                    <span>Felipe Goyes</span>
                </div>
                <span class="study">Software Engineer</span>
            </div>

            <p-menu [model]="expirenceItems" />
        </div>        

        <div class="footer col-4">
            <p-menu [model]="contactItems" />
        </div>

    </div>

    <div class="main-content flex flex-column h-full w-full">
        <router-outlet></router-outlet>
    </div>
    

</div>






