
.layout-wrapper{
    display: flex;
    height: 98vh;
}

/* Side bar css*/ 
.side-bar{
    width: 14em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-right: 8px;
}

.avatar-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.avatar-title-wrapper{
    text-align: center;
    font-weight: bold;
    padding: 15px;
}

.study {
    font-size: 13px;
    font-weight: 400;
}

/* Starts main css */

.main-content{
    width: auto;
    width: -webkit-fill-available;
    background-color: #d3d3d391;
    padding: 2rem;
}

