<div class="layout-wrapper">

    <div class="side-bar flex flex-column justify-content-between"  *ngIf="(person$ | async) as person">
        <div class="header col" >
            <div class="avatar-wrapper" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
                
                <p-avatar 
                    [image]="'img/'+person.profilePicturePath" 
                    styleClass="mr-2" 
                    size="xlarge"
                    shape="circle" />
            </div>
            
            <div class="avatar-title-wrapper">
                <div class="name-wrapper">
                    <span>{{person.name}}</span>
                </div>
                <span class="study">{{person.highestEducation}}</span>
            </div>

            <p-menu [model]="expirenceItems" />
        </div>        

        <div class="footer">
            <p-menu [model]="contactItems" />
        </div>

    </div>

    <div class="main-content flex flex-column overflow-auto h-full w-full">
        <router-outlet></router-outlet>
    </div>
    

</div>






