
<div class="col">
    <p-card [header]="headline">
        <p class="m-0">
            {{summary}}
        </p>
    </p-card>
</div>

<div class="col">
    <div class="grid">
        <div class="col">
            <p-card header="Languages">
                <div *ngFor="let language of languages" class="col">{{language.Name}}</div>
            </p-card>
        </div>

        <div class="col">
            <p-card header="Project Methodologies ">
                <div *ngFor="let pm of projectMethodologies" class="col">{{pm.name}}</div>
            </p-card>
        </div>
    </div>
</div>

<div class="col">
    <p-card header="Certifications">
        <div *ngFor="let certification of certifications" class="col">{{certification}}</div>
    </p-card>
</div>