<div class="hidden">
    <h1>{{headline}}</h1>
    <h2>{{summary}}</h2>
</div>

<div class="col">
    <p-card [header]="headline">
        <p class="m-0">
            {{summary}}
        </p>
    </p-card>
</div>

<div class="col">
    <div class="grid">
        <div class="col">
            <p-card i18n-header="Languages card title|Languages card title" header="Languages">
                <div *ngFor="let language of languages" class="col">
                    <div>{{language.name}}</div>
                    <p-progressBar [value]="(language.numberOfYearsExperience * 100) / maxLanguagesYear"
                        [style]="{ height: '6px' }">
                        <ng-template pTemplate="content"></ng-template>
                    </p-progressBar>
                </div>

            </p-card>
        </div>

        <div class="col">
            <p-card i18n-header="Projects methodologies card title|Projects methodologies card title"
                header="Projects methodologies">
                <div *ngFor="let pm of projectMethodologies" class="col">{{pm.name}}</div>
            </p-card>
        </div>
    </div>
</div>

<div class="col">
    <p-card i18n-header="Certificates card title|Certificates card title" header="Certificates">
        <div class="flex flex-column">
            <div *ngFor="let c of certifications" class="certification flex flex-row align-items-center">
                <div class="certification-image">
                    <img src="img/{{c.imagePath}}" [alt]="c.name" />
                </div>
                <div class="certification-name p-2">
                    <p class="font-semibold">{{c.name}}</p>
                </div>
            </div>
        </div>

    </p-card>
</div>