
<div class="hidden">
    <h1>{{headline}}</h1>
    <h2>{{summary}}</h2>
</div>

<div class="col">
    <p-card [header]="headline">
        <p class="m-0">
            {{summary}}
        </p>
    </p-card>
</div>

<div class="col">
    <div class="grid">
        <div class="col">
            <p-card i18n-header="Languages card title|Languages card title" header="Languages">
                <div *ngFor="let language of languages" class="col">
                    <div>{{language.Name}}</div>
                    <p-progressBar [value]="language.NumberOfYearsExperience" [style]="{ height: '6px' }">
                        <ng-template pTemplate="content"></ng-template>
                    </p-progressBar>
                </div>
                
            </p-card>
        </div>

        <div class="col">
            <p-card i18n-header="Projects methodologies card title|Projects methodologies card title" header="Projects methodologies">
                <div *ngFor="let pm of projectMethodologies" class="col">{{pm.name}}</div>
            </p-card>
        </div>
    </div>
</div>

<div class="col">
    <p-card i18n-header="Certificates card title|Certificates card title" header="Certificates">
        <div *ngFor="let certification of certifications" class="col">{{certification}}</div>
    </p-card>
</div>